@import "tailwindcss";

html, body {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overscroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}



